body {
	margin: 0;
	padding: 0;
	background-color:red;
	font: 62.5% "Verdana", "Viner Hand ITC", Sans-Serif;
	color: #000;
	text-align: left;

	
	}

p{
	font-size:14px;
	margin-left:20px;
	margin-right:15px;
	font-family:Verdana, Geneva, sans-serif;
	
	}
ol,
ul {
	line-height: 150%;
	}


h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-style: normal;
	font-weight: bold;
	background: transparent;
	color: #050d24;
	margin-left:10px;
	margin-top:20px;
	}

h1 {
	font-size: 2.2em;
	color: red;
	}
h2 {
	font-size: 1.4em;
	
	}
h3, h4, h5, h6 {
	font-size: 1em;
	}

a:link {
	color: #2f63b3;
	text-decoration: none;
	}
a:visited {
	color: #2f63b3;
	text-decoration: none;
	}
a:hover {
	color: #4a5265;
	text-decoration: underline;
	}
a:active {
	color: #2f63b3;
	text-decoration: underline;
	}
#outline {
	width: 855px;
	margin: 0 auto;
	padding: 0;
	background: black;
	font-size: 1.3em;
	}

#header {
	width: 100%;
	height: 288px;
	background: white;
	}
#navbar {
		clear: both;
		float: left;
		width: 100%;
		height: 31px;
		background :black;
		
		}

ul.menu {
		float: left;
		margin: 0;
		padding: 0 15px;
		list-style-type: none;
		}
ul.menu li {
		float: left;
		}
ul.menu li a {
		float: left;
		display: block;
		height: 28px;
		padding: 3px 15px 0 15px;
		line-height: 24px;
		color: #fff;
		}
#content {
	float: left;
	width: 855px;
	height: 800px;
	background: white;
	

	}
#content2 {
	float: left;
	width: 855px;
	height: 1000px;
	background: white;
	

	}
#pie {
	float: left;
	width: 560px;
	height: 50px;
	background: black;
	width: 855px;
	}
#pie p{
	text-align: center;
	font-weight: bold;
	color: white;
	font-size: 10px;
	}
